/* Reset de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #1A0033;
  font-family: "Poppins", sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.navbar {
  background-color: #e6e6e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  min-height: 60px; /* hauteur fixe de la navbar */
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.2em;
}

.logo span {
  font-family: "Jockey One", sans-serif;
  font-size: 1.5em; /* tu peux ajuster */
  font-weight: normal; /* Jockey One est déjà bold */
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

/* Menu */
.menu a {
  color: black;  
  text-decoration: none;
  font-weight: bold;
  margin: 0 5px;
}
.menu span {
  color: #000000;
  margin: 0 5px;
}

main {
  flex: 1;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 30px;
}

.p_1 {
  text-align: center;
  color: white;
  margin-top: 20px;
}

.custom_btn {
  display: block;          /* le bouton prend toute la ligne */
  margin: 80px auto;       /* auto centre horizontalement */
  background-color: #e6e6e6;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 40px;      /* padding normal pour un bouton */
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.p_2 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
  margin-top: 50px;
}

/* Container des cartes */
.cards {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap; /* passe en colonne si petit écran */
  margin: 50px;
}

/* Carte individuelle */
.card {
  background: linear-gradient(to bottom, #E2E2E2, #ffffff);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 20px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

/* Titres */
.card h3 {
  margin-bottom: 15px;
  font-size: 1.2em;
}

/* Texte */
.card p {
  font-size: 0.95em;
  line-height: 1.4;
}

.p_3 {
  color: white;
  text-align: left;
  margin: 60px 0px 150px 50px;
}

/* Footer */
.footer {
  background-color: #e6e6e6;   /* même gris que la navbar */
  text-align: center;
  padding: 15px 0;
  font-size: 0.9em;
  color: #000;
}

.footer a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  margin: 0 5px;
}

.footer a:hover {
  color: #0077cc; /* bleu au survol */
}
